body {
  font-family: Overpass;
  margin: 0;
  background:white;
}

h1, h2, h3 {
  color: #404042;
  font-family: Chivo;
}

p {
  color: #404042;
  opacity: .7;
}


/*lien */ 

a {
text-decoration: none;
color: black;
}
a:hover {
font-weight: bold;
}

 /*-- Homepage --*/

.dvbanner {
  background-image: url(images/bigdata.jpg);
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
  border-bottom: 5px solid #fdcb59;
}


.dvbanner h1 {
  color: white;
  font-size: 45px;
  margin: 0;
}

.dvbanner p {
  color: white;
  font-size: 24px;
} 
.card{
  background: white;
  width: 100%;
  text-align: center;
}

.card img{
  background-size: cover;
  align-content: center;
}

.homefooter {
  background: #404042;
  text-align: center;
  padding: 24px 0;
}

.homefooter p {
  color: #fdcb59;
  opacity: 1;
}

@media (max-width: 800px) {

  body{
    max-width: 100%;
    margin:0;
    padding: 0;
  }
  .card img{
  background-size: cover;
  width:50%;
}
 
}

@media (max-width: 500px) {

  body{
    max-width: 100%;
    margin:0;
    padding: 0;
  }
  
  .card img{
  background-size: cover;
  width:50%;
}

}




