body {
  font-family: Overpass;
  margin: 0;
  background:white;
}

h1, h2, h3 {
  color: #404042;
  font-family: Chivo;
}

p {
  color: #404042;
  opacity: .7;
}


/*lien */ 

a {
text-decoration: none;
color: black;
}
a:hover {
font-weight: bold;
}

 /*-- Homepage --*/

.dvbanner {
  background-image: url(../images/bigdata.jpg);
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
  border-bottom: 5px solid #fdcb59;
}


.dvbanner h1 {
  color: white;
  font-size: 45px;
  margin: 0;
}

.dvbanner p {
  color: white;
  font-size: 24px;
} 
.card{
  background: white;
  width: 100%;
  text-align: center;
}

.card img{
  background-size: cover;
}

.homefooter {
  background: #404042;
  text-align: center;
  padding: 24px 0;
}

.homefooter p {
  color: #fdcb59;
  opacity: 1;
}

@media (max-width: 800px) {

  body{
    max-width: 100%;
    margin:0;
    padding: 0;
  }

  


  .card img{
  background-size: cover;
  width:50%;
}


}

@media (max-width: 500px) {

  body{
    max-width: 100%;
    margin:0;
    padding: 0;
  }

  .homecontainer {
    max-width: 100%;
    padding: 0;
    margin:0;
  }

  .homecontainer h2 {
    padding-left: 15px;
  }

  .homemajorcard {
    width:auto;
    grid-template-columns: 1fr;
    padding: 25px;
    align-content: center;
  }
  
  .homecard {
    width:250px;
  }

  #islider {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height:140px;
    border-bottom:5px solid #113e65;
  }

  #islides figure img {
    width: 100%;
    position: relative;
    top: 20%;
    transform: translateY(-50%);
  }

  #islides figure figcaption {
    position: absolute;
    bottom: 0;
    padding: 2em 0;
    text-align: center;
    width: inherit;
    color: #fdcb59;
    font-size: 4vmax;

  }

  .index2 {
    width:auto;
    grid-template-columns: 1fr;
    padding-left:0;
    grid-gap: 0;
  }

  .index2a {
    width:auto;
    padding-left:15px;
    padding-right: 15px;
    margin:15px;
  }
}




